$main-bg-color: #404357;
$secondary-color: #a7aabe;
$red: #c91121;
$hotPink: #bf25d3;
$pink: #e65eaf;
$orange: #e2612e;
$yellow: #c98c09;
$green: #1bad0a;
$teal: #0a5c5f;
$blue: #1679db;
$purple: #6213d1;
$black: #000000;
// $color-list: $red, $hotPink, $pink, $orange, $yellow, $green, $teal, $blue, $purple, $black;
$color-map: (
  "red": $red,
  "hotPink": $hotPink,
  "pink": $pink,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "blue": $blue,
  "purple": $purple,
  "black": $black
);

// @use "sass:list";

@mixin build-color-class($attr) {
  @each $color, $color-var in $color-map {
    &--#{$color} {
      #{$attr}: $color-var;
    }
  }
}

.App__container {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  
  background-color: $main-bg-color;
  color: white;
  font-size: 2vw;
}

button {
  background-color: $main-bg-color;
  font-size: inherit;
  margin: 1vw;
  padding: 0.8vw;
  max-height: 4vw;

  border-radius: 10px;
  color: white;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button--light {
  background-color: $secondary-color;
}

input {
  font-size: inherit;
  margin: 1vw;
  border-radius: 10px;
  width: 50%;

  &:hover {
    opacity: 0.7;
  }
}

header {
  h1 {
    margin: 0 auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  position: fixed;
  bottom: 1vh;
  left: 2vw;
}

/* Set Up */

.setup__instructions {
  border: 5px double white;
  border-radius: 30px;
  padding: 2vw;
  max-width: 60vw;
  margin: 5vw auto;
}

.setup__color__container {
  margin: 3vw auto;
}

.setup__color__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.setup_color__radio {
  opacity: 0;
  position: fixed;
  width: 0;

  &:checked + .setup__color {
    border: 0.4vw solid white;
    width: calc(10vw - (2 * 0.4vw));
    height: calc(10vw - (2 * 0.4vw));
  }
}

.setup__color {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  border-radius: 10px;
  cursor: pointer;

  @each $color, $color-var in $color-map {
    &--#{$color} {
      background-color: $color-var
    }
  }

  &:hover {
    opacity: 0.8;
  }

}

/* Waiting */

.player-waiting {
  margin-top: 5vw;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}


/* Clue Giver */

.clue-giver__component {
  margin-top: 5vw;
}

.clue-giver__clue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw auto;
}

.clue-giver__btn {
  font-size: 1.5vw;
}

.clue-giver__new-word {
  position: absolute;
  bottom: 2vw;
  left: 37vw;
}

.clue-giver__submitted {
  font-size: 3.5vw;
  width: 10vw;
  height: 6vw;
}

.clue-giver__proceed {
  font-size: 1.5vw;
  opacity: 0.8;
}

.active-player {
  @include build-color-class($attr: 'color');
}

/* Check Clues */
.check-clues__container {
  margin-top: 2vw;
}

.check-clues__clue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-clues__remove-btn {
  padding: 0.5vw;
}


/* Guessing */
.guessing__container {
  padding-top: 5vw;
}

.outcomes__container {
  border: 5px double white;
  border-radius: 10px;
  padding: 1vw;
  text-align: right;

  width: 10vw;
  margin: 5vw auto;
}

/* Word Card */
.word-card {
  border: 1vw solid;
  @include build-color-class($attr: 'border-color');

  background-color: #e2e3e9;
  border-radius: 30px;
  padding: 1.5vw;
  margin: 1.5vw;
  color: black;

  min-width: 15vw;
}

.word-card__name {
  position: relative;
  top: -0.9vw;
  font-size: 0.7em;
}

.show-cards {
  display: grid;
  grid-template-columns: 30vw 30vw;
  margin: 5vh;
}

 

@media only screen and (max-width: 1000px) {

  .App__container {
    font-size: 20px;
  }
  
  button {
    max-height: 10vw;
  }

  .setup__instructions {
    max-width: 80vw;
  }

  .setup__color {
    width: 15vw;
    height: 15vw;
  }

  .setup_color__radio:checked + .setup__color {
    border: 0.6vw solid white;
    width: calc(15vw - (2 * 0.6vw));
    height: calc(15vw - (2 * 0.6vw));
  }

  .word-card {
    min-width: 20vw;
    border-radius: 15px;
  }

  .show-cards {
    grid-template-columns: 35vw 35vw;
  }

  .outcomes__container {
    width: 100px;
  }

  footer {
    bottom: 3vh;
    left: 5vw;
  }
}

@media only screen and (max-width: 500px) {

  .show-cards {
    grid-template-columns: 80vw;
  }

}



